@charset"UTF-8";

body{
    background: rgb(69, 69, 243);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

input[type=number]{
    border: none;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
    margin-left: 5px;
    padding: 3px;
}

input[type=button]{
    padding: 5px;
    width: 200px;
    border: none;
    background-image: linear-gradient(to right, lightblue, lightpink);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.705);
    border-radius: 5px;
}